@{
    ViewBag.Title = "Contato";
}
<h2 style="text-align:center;">Contato</h2>

<div class="row">
    <div class="col-sm-6 col-md-8">
            <h3>Envie sua mensagem</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <label for="NomeCompleto">Nome completo:</label>
                    <input type="text" class="form-control" placeholder="Insira o nome completo" aria-describedby="sizing-addon2">
                </div>
                <div class="col-sm-6 col-md-6">
                    <label for="TelefoneContato">Telefone para contato:</label>
                    <input type="text" class="form-control" placeholder="Insira o telefone para contato" aria-describedby="sizing-addon2" id="telefone">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <label for="EndereçoDeEmail">Email:</label>
                    <input type="email" class="form-control" placeholder="insira o email" aria-describedby="sizing-addon2">
                </div>

                <div class="col-sm-6 col-md-6">
                    <label for="Assunto">Assunto:</label>
                    <input type="text" class="form-control" placeholder="Insira o assunto" aria-describedby="sizing-addon2">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <label for="Mensagem">Mensagem:</label>
                    <textarea class="form-control" id="Mensagem" rows="3" placeholder="Insira a mensagem"></textarea>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

    <div class="col-sm-6 col-md-4">
            <h3>Informações para contato</h3>
            <div class="endereco">
                <p>
                    Estrada Municipal, Estr. Pedro Moacir de Almeida
                    <br />
                    Alto da Ponte, São José dos Campos - SP
                    <br />
                    Cep: 79814-185
                </p>
            </div>
            <div class="telefone">
                <p>
                    Telefone: (12) 3456-78-91
                    <br />
                    Whatsapp: (12) 91234-5678
                </p>
            </div>
        </div>
</div>


<!--
    <div class="informacoes">
        <h3>Informações para contato</h3>
        <div class="endereco">
            <p>
                Estrada Municipal, Estr. Pedro Moacir de Almeida
                <br />
                Alto da Ponte, São José dos Campos - SP
                <br />
                Cep: 79814-185
            </p>
        </div>
        <div class="telefone">
            <p>
                Telefone: (12) 3456-78-91
                <br />
                Whatsapp: (12) 91234-5678
            </p>
        </div>
    </div>

    <div class="formulario">
        <h3>Envie sua mensagem</h3>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <label for="NomeCompleto">Nome completo:</label>
                <input type="text" class="form-control" placeholder="Insira o nome completo" aria-describedby="sizing-addon2">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="TelefoneContato">Telefone para contato:</label>
                <input type="text" class="form-control" placeholder="Insira o telefone para contato" aria-describedby="sizing-addon2" id="telefone">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <label for="EndereçoDeEmail">Email:</label>
                <input type="email" class="form-control" placeholder="insira o email" aria-describedby="sizing-addon2">
            </div>

            <div class="col-sm-6 col-md-4">
                <label for="Assunto">Assunto:</label>
                <input type="text" class="form-control" placeholder="Insira o assunto" aria-describedby="sizing-addon2">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <label for="Mensagem">Mensagem:</label>
                <textarea class="form-control" id="Mensagem" rows="3" placeholder="Insira a mensagem"></textarea>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    -->

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#telefone").inputmask("mask", { "mask": "(99) 99999-9999" });
            $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
            $("#cep").inputmask("mask", { "mask": "99999-999" });
            $("#nascimento").inputmask("mask", { "mask": "99/99/9999" });
            $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
            $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });
            $("#ip").inputmask("mask", { "mask": "999.999.999.999" });
        });
    </script>
}
