@{
    ViewBag.Title = "Home";
}
<h2 style="text-align:center;">Hotel Fazenda</h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active indexImg">
            <img src="~/assets/img/index/img2.jpg" alt="...">
        </div>
        <div class="item indexImg">
            <img src="~/assets/img/index/img3.jpg" alt="...">
        </div>
        <div class="item indexImg">
            <img src="~/assets/img/index/img4.jpg" alt="...">
        </div>
    </div>
</div>

<br />

<h4></h4>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/assets/img/index/culinaria.jpg" alt="...">
            <div class="caption">
                <h3>Culinária tipica de fazenda</h3>
                <p>O Hotel Fazenda, apresenta uma culinária tipicamente de fazenda. Em alguns dos pratos servidos durante o almoço e jantar, estão os pastéis de carne e de queijo, o filé grelhado com mexido de queijo, o leitão à pururuca também faz parte das delícias.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/assets/img/index/petHotelFazenda.jpg" alt="...">
            <div class="caption">
                <h3>Seu pet é bem vindo</h3>
                <p>No Hotel Fazenda você pode trazer seu animal de estimação e dar a ele o que ele mais gosta: a sua companhia</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="acessibilidadeHotelFazenda" src="~/assets/img/index/acessibilidadeHotel.jpg" alt="...">
            <div class="caption">
                <h3>Hotel com acessibilidade</h3>
                <p>O campo é um hotel com acessibilidade, portanto é um hotel adaptado para receber pessoas com deficiência ou mobilidade reduzida</p>
            </div>
        </div>
    </div>
</div>