@{
    ViewBag.Title = "Lazer";
}

<h2 style="text-align:center;">Lazer</h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="ImgLazer" src="~/assets/img/lazer/salaoDeJogos.jpg" title="Salão de Jogos">
            <div class="caption">
                <h3 class="TituloLazer">Salão de Jogos</h3>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="ImgLazer" src="~/assets/img/lazer/campoDeFutebol.jpg" title="Campo de Futebol">
            <div class="caption">
                <h3 class="TituloLazer">Campo de Futebol</h3>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="ImgLazer" src="~/assets/img/lazer/tirolesa.jpg" title="Campo de Futebol">
            <div class="caption">
                <h3 class="TituloLazer">Tirolesa</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="ImgLazer" src="~/assets/img/lazer/parquinho.jpg" title="Parquinho">
            <div class="caption">
                <h3 class="TituloLazer">Parqinho</h3>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="ImgLazer" src="~/assets/img/lazer/passeioACavalo.jpg" title="Passeio a Cavalo">
            <div class="caption">
                <h3 class="TituloLazer">Passeio a Cavalo</h3>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="ImgLazer" src="~/assets/img/lazer/pedalinho.jpg" title="Pedalinho">
            <div class="caption">
                <h3 class="TituloLazer">Pedalinho</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="ImgLazer" src="~/assets/img/lazer/piscina.jpg" title="Piscina">
            <div class="caption">
                <h3 class="TituloLazer">Piscina</h3>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="ImgLazer" src="~/assets/img/lazer/quadraPoliesportiva.jpg" title="Quadra Poliesportiva">
            <div class="caption">
                <h3 class="TituloLazer">Quadra Poliesportiva</h3>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="ImgLazer" src="~/assets/img/lazer/bocha.jpg" title="Bocha">
            <div class="caption">
                <h3 class="TituloLazer">Bocha</h3>
            </div>
        </div>
    </div>
</div>